<nav class="navbar navbar-fixed-top navbar-inverse" ng-controller="NavbarCtrl as nav">
  <header class="container-fluid main-nav">
    <div class="navbar-header">
          <a class="navbar-brand" href="https://github.com/Swiip/generator-gulp-angular">
            <span class="glyphicon glyphicon-home">AWC</span> 
          </a>
      
        <button type="button" class="navbar-toggle collapsed nav navbar-right" ng-click="nav.isCollapsed = !nav.isCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    
        <div class="navbar-nav navbar-collapse" collapse="nav.isCollapsed">
          <ul class="nav navbar-nav">
            <li><a ng-href="#">Home</a></li>
            <li><a ng-href="#">About</a></li>
            <li><a ng-href="#">Contact</a></li>
          </ul>
        </div>
    </div>
  </header>
</nav>
