<md-button class="menu-btn" ng-click="app.openMenu()">
        <span class="fa fa-bars fa-2x"></span>
    </md-button>
    <md-sidenav md-component-id="main" class="md-sidenav-main">
          <md-button class="close-menu" ng-click="app.closeMenu()">
              <span class="fa fa-times"></span>
          </md-button>
          <p class="side-btn"><md-button class="md-raised nav-btn" >Home</md-button></p>
          <p class="side-btn"><md-button class="md-raised nav-btn" >About</md-button></p>
          <p class="side-btn"><md-button class="md-raised nav-btn" >Projects</md-button></p>
          
          <md-card>
              <img src="../../assets/images/MeSP.jpg" class="md-card-image" alt="Me">
<!--
              <md-card-content>
                <h2 class="md-title">Logan Arnett</h2>
                <p>
                  Contact Logan Directly with any Inquiries
                </p>
              </md-card-content>
-->
          </md-card>
          
    </md-sidenav>
