<md-button class="menu-btn md-fab" ng-click="app.openMenu()">
        <span class="fa fa-bars fa-2x"></span>
    </md-button>
    <md-sidenav md-component-id="main" class="md-sidenav-main">
          <md-button class="close-menu" ng-click="app.closeMenu()">
              <span class="fa fa-times"></span>
          </md-button>
          <p class="side-btn"><md-button class="md-raised nav-btn" >Home</md-button></p>
          <p class="side-btn"><md-button class="md-raised nav-btn" >About</md-button></p>
          <p class="side-btn"><md-button class="md-raised nav-btn" >Projects</md-button></p>
          
    </md-sidenav>
